---
const { ar } = Astro.props;
---

<div class="w-full">
    <model-viewer class="w-full h-[70vh]  bg-sky-400 rounded-lg" id="model-viewer" 
        src=`/modelos/${ar}.glb`
        ar 
        ios-src=`/modelos/${ar}.usdz`
        ar-modes="scene-viewer webxr"
        camera-controls touch-action="pan-y" alt="Just for Me" ar-scale="1" meshopt-compression="true">
        <div id="error" class="hide">AR is not supported on this device</div>
        <!-- contenido de texto -->
        
    </model-viewer>
</div>


<style>
    #error {
            background-color: #ffffff;
            border-radius: 16px;
            padding: 16px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: opacity 0.3s;
        }

        #error.hide {
            opacity: 0;
            visibility: hidden;
            transition: visibility 2s, opacity 1s 1s;
        }
</style>

<script is:inline type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
<script is:inline>
    self.ModelViewerElement = self.ModelViewerElement || {};
    self.ModelViewerElement.meshoptDecoderLocation = 'https://cdn.jsdelivr.net/npm/meshoptimizer/meshopt_decoder.js';
</script>

<script is:inline>
    document.querySelector("#model-viewer").addEventListener('ar-status', (event) => {
        if (event.detail.status === 'failed') {
            const error = document.querySelector("#error");
            error.classList.remove('hide');
            error.addEventListener('transitionend', (event) => {
                error.classList.add('hide');
            });
        }
    });

    // Autorotaci贸n del modelo
    const modelViewer = document.querySelector("#model-viewer");
    let rotation = 0;

    function animateRotation() {
        rotation += 1;
        modelViewer.cameraOrbit = `${rotation}deg 75deg 80%`;
        requestAnimationFrame(animateRotation);
    }
    //animateRotation();

    //self.ModelViewerElement = self.ModelViewerElement || {};
    //self.ModelViewerElement.meshoptDecoderLocation = 'https://cdn.jsdelivr.net/npm/meshoptimizer/meshopt_decoder.js';

</script>