---
---

<a href="/ar-exp" class="w-full p-4 bg-[#FF00C6] active:bg-[#cb2ea9] transition-colors duration-200 ease-in  text-center text-white font-golda tracking-wider text-3xl border-b-8 border-b-[#ACF431] uppercase">
    AR experience
</a>