---
---

<a href="https://www.google.com/" target="_blank" rel="noopener noreferrer" class="w-full p-4 bg-[#21BAF7] active:bg-[#ACF431] transition-all duration-200 ease-in  text-center text-white font-golda tracking-wider text-3xl border-b-8 border-b-[#ACF431] shadow-lg active:shadow-lime-400">
    PLAY NOW
</a>